:root {
    --light-color: #bfd4d5;
    --medium-color: #94b1b8;
    --primary-color: #435047;
    --dark-color: #161a19;
    --secondary-color: #6e868b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--light-color);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;

}

body {
    background-color: var(--dark-color);
}

a {
    color: inherit;
    text-decoration: none;
}

input[type="text"] {
    height: 2.5rem;
    padding: 0 0.5rem;

}